* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: #ffffff;
    --spotify-green: #1DB954;
    --spotify-black: #191414;
    height: 100%;
}

#root {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--spotify-black);
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}


.btn {
    border-radius: 5px;
}

.login--btn {
    background-color: var(--spotify-green);
    width: 300px;
    margin: auto;
    color: var(--main-font);
    padding: 1rem;
}

/* || Views */
.view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard {
    color: var(--main-font);
}

.top-items {
    width: 100%;
    display: flex;
}

.top-items--list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

