* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: #ffffff;
    --spotify-green: #1DB954;
    --spotify-green-hover: #159542;
    --magenta: #FF00FF;
    --spotify-black: #191414;
    height: 100%;
}

#root {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--spotify-black);
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}


.btn {
    border-radius: 5px;
}

.login--btn {
    background-color: var(--spotify-green);
    width: 300px;
    margin: auto;
    color: var(--main-font);
    padding: 1rem;
}

/* || Views */
.view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    height: 10vh;
}

.seed-view, .recommendations-view {
    height: 90vh;
}

.dashboard {
    color: var(--main-font);
}

.top-items {
    width: 100%;
    display: flex;
}

.top-items__wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.125rem;
    font-size: 1.5rem;
}

.top-items__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.top-items__item {
    background-color:var(--spotify-green);
    border-radius: 20px;
    padding: .4rem;
    font-size: 1.125rem;
}

.top-items__item:hover {
    background-color: var(--spotify-green-hover);
    cursor: pointer
}

.top-items__item--clicked {
    background-color: var(--magenta);
    color: var(--spotify-black);
}

.top-items__item--clicked:hover {
    background-color: var(--magenta);
    color: var(--spotify-black);
}

.seed-view {

}

.recommendations-view {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
}

.navbar {
    background-color: red;
}

.track-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.track-table__row {
    padding: .3rem;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-evenly;
}

.track-table__cell {
    text-align: left;
    flex: 1; 
    max-width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-table__cell--align-right {
    text-align: right;
    max-width: 5%;
}

.track-table__item {

}


.webplayer {
    width: 100%;
    padding: 2rem;
    /* height: 15%; */
    background-color: blue;
}

